@charset "UTF-8";
*{
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* 화면 전체 렙 */
.wrapper {
    width: 100%;
}
/* content 랩 */
.wrap {
    width : 1080px;
    margin: auto;
}
/* 최상단 네비 영역 */ 
.top_navi_area {
    width: 100%;
    height: 50px;
    background-color: #f0f0f1;
    position:relative;
}
.top_navi_area .list {
    position: absolute;
    top: 0px;
    right: 0;
    
}
.top_navi_area .list li {
    list-style: none;    
    float : left;
    padding: 13px 15px 0 10px;
    font-weight: 900;
    cursor: pointer;
}
 
/* 상단 제목 영역 */
.top_area {
    height:110px;
    line-height: 110px;
    background-color: #5080bd;
    margin-bottom: 15px;
}
.top_area > span {
    margin-left: 30px;
    display:inline-block;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
 
/* 콘텐츠 네비 영역 */
.admin_contents_navi_list {
    width: 20%;
    height: 300px;
    float:left;
    height: 100%;
}
.admin_contents_navi_list li {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.admin_contents_navi_list li a {
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}
/*a 태그 색변경 방지*/
.admin_navi_wrap li a:link {color: black;}
.admin_navi_wrap li a:visited {color: black;}
.admin_navi_wrap li a:active {color: black;}
.admin_navi_wrap li a:hover {color: black;}

/*콘텐츠 네비 현재 위치 표시*/
.admin_list_02 {
    background-color: #c8c8c8;
} 

/* 관리자페이지 컨텐츠 영역 */
.admin_contents_area {
    width: 80%;
    float:left;
	min-height: 700px;
}
/* 관리자페이지 제목 영역 */
.admin_contents_title {            
    font-size: 40px;
    font-weight: bolder;
    padding-left: 15px;
    background-color: #6AAFE6;
    height: 80px;
    line-height: 80px;
    color: white;    
}
/* 관리자 컨텐츠 메인 영역 */
.form_section {
    width: 95%;
    margin-left: 2%;
    margin-top: 20px;
    border: 1px solid #dbdde2;
    background-color: #efefef;    
}
.form_section_title {
    padding: 20px 35px;    
}
.form_section_title label {
    display: block;
    font-size: 20px;
    font-weight: 800;
}
.form_section_content {
    padding: 20px 35px;
    border-top: 1px solid #dbdde2;    
}
.form_section_content input {
    width: 98%;
    height: 25px;
    font-size: 20px;
    padding: 5px 1%;
}

/* ckeditor 높이 설정 */
.ck-content {
	height: 170px;
}


/* 작가 선택 설정 */
.authorSelect {				
    margin-left: 20px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}

/* 카테고리 선택 영역 */
.form_section_content select {
	width: 92%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
    margin-left: 5px;
}
.category_area {
	font-weight: 600;
}
.category_area:not(:first-child) {
	margin-top: 20px;
}

/* 이미지 영역 */
#img_area img {
	max-width: 100%;
	height: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
	margin: auto;	
}

/* 관리자 페이지 메인 버튼 영역 */
.btn_section {
    text-align: center;
    margin: 80px 0;
}
.btn {
    min-width: 180px;
    padding: 4px 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}
.enroll_btn {
    background-color: #dbdde2;
    margin-left:15px;
}
#enrollBtn:hover {
    background-color: #c9cbd0;
}

/* footer navai 영역 */
.footer_navi_area {
    width:100%;
    height:50px;
}
.footer_navi_list {
    width: 100%;
    height: 100%;
    background-color:#8EC0E4;
}
.footer_navi_list > ul {
    float:left;
    list-style:none;
    position:relative;
    padding-top:10px;
    margin-left: 10px;
}
.footer_navi_list > ul > li {
    display:inline;
    padding: 0px 10px;
    font: bold 12px Dotum;
    border-left:1px solid;
}
.footer_navi_list > ul > li:first-child{
	border-left: none;
}

/* footer 영역 */
.footer_area {
    width:100%;
    height:130px;
    background-color:#D4DFE6;
    padding-bottom : 50px;
}
.footer_info {
    width: 100%;
    height: 100%;
    margin: auto;
}
.footer_img_area > img {
    width: 150%;
    height: 130px;
    margin-left: -20px;
    margin-top: -12px;
}
.footer_img_area {
    float :left;
    width: 170px;
    margin-left: 20px;
    margin-top : 30px;
    
}
.footer_explain {
    float :left;
    width: 680px;
    margin-left: 70px;
    margin-top : 30px;
}

/* float 속성 해제 */
.clearfix {
    clear: both;
}