@charset "UTF-8";

*{
	margin: 0;
	padding:0;
}

a{
	text-decoration: none;
}

/* 화면 전체 영역*/
.wrapper{
	width: 100%;
}

/* content 영역*/
.wrap{
	width : 1080px;
	margin: auto;
}

/* 홈페이지 기능 네비 */ 
.top_navi_area{
	width: 100%;
    height: 50px;
    background-color: #f0f0f1;
    position: relative;
}

.top_navi_area .list{
    position: absolute;
    top: 0px;
    right: 0;
}
.top_navi_area .list li{
    list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	font-weight: 900;
	cursor: pointer;
}


/* 로고, 검색, 로그인 */
.top_area{
	width: 100%;
    height: 150px;
    /* background-color: #f7f0b9; */
}

/* 로고 영역 */
.logo_area{
	width: 25%;
	height: 100%;
	float:left;
}
.logo_area img{
	width: 100%;
	height: 100%;
}

/* 검색 박스 영역 */
.search_area{
	width: 50%;
	height: 100%;
	float:left;	
}
.searchForm_area{
	width: 100%;
    height: 100%;
}
#searchForm{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    display: flex;
    height: 30%;
    width: 80%;	
}
.search_input select{
	width: 20%;
    text-align: center;
    font-size: 15px;	
}
.search_input input{
    margin-left: 10px;
    width: 57%;	
    font-size: 18px;
    padding-left: 2%;
}
.search_btn{
	margin-left: 10px;
    width: 17%;
    border-radius: 14px;
    font-size: 17px;
    font-weight: 600;	
}

/* 로그인 버튼 영역 */
.login_area{
	width: 25%;
	height: 100%;
	display: inline-block;	
	text-align: center;		
}

.login_btn{
	height: 50%;
    background-color: #D4DFE6;
    margin-top: 30px;
    line-height: 77px;
    font-size: 40px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;	
}

.login_area>span{
	margin-top: 10px;
    font-weight: 900;
    display: inline-block;
}

/* 로그인 시 회원 정보 */
.login_info{
	height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}

.login_info>span{
	display : block;
    text-align: left;
    margin-left: 10%;
}

.login_info>span>a{
	font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;
    padding-left: 22px;  
}

/* 제품 목록 네비 영역*/
.navi_area{
	width: 100%;
    height: 70px;
    background-color: #7696fd;
}

/* 제품 영역  */
.content_area{
	width: 100%;
    min-height: 1000px;
}

/* footer navai 영역 */
.footer_navi_area{
    width:100%;
    height:50px;
}
.footer_navi_list{
    width: 100%;
    height: 100%;
    background-color:#8EC0E4;
}
.footer_navi_list>ul{
    float:left;
    list-style:none;
    position:relative;
    padding-top:10px;
    margin-left: 10px;
}
.footer_navi_list>ul>li{
    display:inline;
    padding: 0px 10px;
    font: bold 12px Dotum;
    border-left:1px solid;
}
.footer_navi_list>ul>li:first-child{
	border-left: none;
}

/* footer 영역 */
.footer_area{
    width:100%;
    height:130px;
    background-color:#D4DFE6;
    padding-bottom : 50px;
}
.footer_info{
    width: 100%;
    height: 100%;
    margin: auto;
}
.footer_img_area>img {
    width: 150%;
    height: 130px;
    margin-left: -20px;
    margin-top: -12px;
}
.footer_img_area{
    float :left;
    width: 170px;
    margin-left: 20px;
    margin-top : 30px;
    
}
.footer_explain{
    float :left;
    width: 680px;
    margin-left: 70px;
    margin-top : 30px;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}