<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.shop.mapper.AuthorMapper">
 
 	<!-- 작가 등록 -->
 	<insert id="authorEnroll" parameterType="com.spring.shop.vo.AuthorVO">
 		insert into book_author(authorName, nationId, authorProfile)
 		values(#{authorName},#{nationId},#{authorProfile})
 	</insert>
 	
 	<!-- 작가 목록 -->
 	<select id="authorGetList" resultType="com.spring.shop.vo.AuthorVO" parameterType="com.spring.shop.util.PageInfo">
 		select  authorId, authorName, nationId, regDate, updateDate
        from book_author 
        <if test="keyword != null">
            where authorName like concat('%',#{keyword}, '%')
        </if>
        order by authorId desc 
        limit #{skip}, #{viewPerPage}
 	</select>
 	
 	<!-- 등록된 작가 수 -->
 	<select id="authorGetTotal" resultType="int">
 		select count(*) from book_author
 		<if test="keyword != null">
 			where authorName like concat('%',#{keyword}, '%')
 		</if>
 	</select>
 	
 	<!-- 작가 상세 정보 -->
 	<select id="authorGetDetail" resultType="com.spring.shop.vo.AuthorVO">
 		select * 
 		from book_author 
 		where authorId = #{authorId}
 	</select>
 	
 	<!-- 작가 정보 수정 -->
 	<update id="authorModify" parameterType="com.spring.shop.vo.AuthorVO">
 		update book_author set authorName = #{authorName}, nationId=#{nationId}, authorProfile = #{authorProfile}, updateDate = now()
 		where authorId = #{authorId}
 	</update>
 </mapper>