<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shop.mapper.BookMapper">
 	
 	<!-- 검색 조건 적용 공통 쿼리 -->
 	<sql id="searchCondition">
 		<trim prefix="where (" prefixOverrides="AND" suffix=")">
 			<foreach collection="typeArr" item="type">
 				<trim prefix="AND">
	 				<choose>
						<when test="type == 'A'.toString">
							<trim prefixOverrides="OR">
							<choose>
								<when test="authorIdList != null and authorIdList.size != 0">
									<foreach collection="authorIdList" item="authorId">
										<trim prefix="OR">
											bl.authorId = #{authorId}
										</trim>
									</foreach>
								</when>
								<otherwise>
									bl.authorId = ''
								</otherwise>
							</choose>
							</trim>
						</when>
						<when test="type == 'T'.toString">
							bookName like concat ('%', #{keyword}, '%')
						</when>
						<when test="type == 'C'.toString">
							bl.categoryCode like concat ('%', #{categoryCode}, '%')
						</when>
	 				</choose>
 				</trim>
 			</foreach>
 		</trim>
 	</sql>
 	
 	<!-- 상품 목록 -->
 	<select id="getGoodsList" resultType="com.spring.shop.vo.BookVO">
        select 
        	bookId, bookName, ba.authorName, bl.authorId, bc.categoryName, bl.categoryCode, publisher, publicationDate, bookPrice, bookDiscount 
 		from 
 			book_list bl 
	 			left outer join book_author ba 
	 				on bl.authorId = ba.authorId
	 			left outer join book_category bc 
	 				on bl.categoryCode = bc.categoryCode
		
		<include refid="searchCondition"/>        
        
        order by authorId desc 
        limit #{skip}, #{viewPerPage}
 	</select>
 	
 	<!-- 등록된 상품 수 -->
 	<select id="getGoodsTotal" resultType="int">
 		select count(*) from book_list bl
		<include refid="searchCondition"/>        
 	</select>
 	
 	
 	<!-- 작가 id 목록 -->
 	<select id="getAuthorIdList" resultType="String">
 		select 
 			authorId
 		from
 			book_author
 		where
 			authorName like concat('%', #{keyword}, '%');
 	</select>
</mapper>