<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shop.mapper.BookSearchMapper">
 	
 	<!-- [메인 검색 페이지] 검색 조건 적용 공통 쿼리 -->
 	<sql id="searchCondition">
 		<trim prefix="where (" prefixOverrides="or" suffix=")">
 			<foreach collection="typeArr" item="type">
 				<trim prefix="or">
	 				<choose>
						<when test="type == 'A'.toString">
							<trim prefixOverrides="or">
							<choose>
								<when test="authorIdList != null and authorIdList.size != 0">
									<foreach collection="authorIdList" item="authorId">
										<trim prefix="or">
											bl.authorId = #{authorId}
										</trim>
									</foreach>
								</when>
								<otherwise>
									nullif(bl.authorId, '') is null
								</otherwise>
							</choose>
							</trim>
						</when>
						<when test="type == 'T'.toString">
							bookName like concat ('%', #{keyword}, '%')
						</when>
						<when test="type == 'C'.toString">
							bl.categoryCode like concat ('%', #{categoryCode}, '%')
						</when>
	 				</choose>
 				</trim>
 			</foreach>
 		</trim>
 	</sql>
 	
 	<!-- [메인 검색 페이지] 상품 목록 -->
 	<select id="getGoodsList" resultType="com.spring.shop.vo.BookVO">
        select 
        	bookId, bookName, ba.authorName, bl.authorId, bc.categoryName, bl.categoryCode, publisher, publicationDate, bookPrice, bookDiscount 
 		from 
 			book_list bl 
	 			left outer join book_author ba 
	 				on bl.authorId = ba.authorId
	 			left outer join book_category bc 
	 				on bl.categoryCode = bc.categoryCode
		
		<include refid="searchCondition"/>        
        
        order by authorId desc 
        limit #{skip}, #{viewPerPage}
 	</select>
 	
 	<!-- [메인 검색 페이지] 등록된 상품 수 -->
 	<select id="getGoodsTotal" resultType="int">
 		select count(*) from book_list bl
		<include refid="searchCondition"/>        
 	</select>
 	
 	<!-- [메인 검색 페이지] 키워드 조건에 맞는 작가 id 목록 -->
 	<select id="getAuthorIdList" resultType="String">
 		select 
 			authorId
 		from
 			book_author
 		where
 			authorName like concat('%', #{keyword}, '%');
 	</select>
 	
 	<!-- [관리자 상품 페이지] 상품 목록 --> 
	<select id="adminPageGoodsList" resultType="com.spring.shop.vo.BookVO">
		
		select bookId, bookName, author.authorName, cate.categoryName, bookStock, list.regDate
		from book_list list 
	
		left outer join book_author author on list.authorId = author.authorId
		left outer join book_category cate on list.categoryCode = cate.categoryCode
		<if test="keyword != null">
			where (bookName like concat ('%', #{keyword}, '%'))
		</if>
		order by bookId desc 
		limit #{skip}, #{viewPerPage}		
		
	</select>
	
	<!-- [관리자 상품 페이지] 상품 총 개수 -->
	<select  id="adminPageGoodsTotal" resultType="int">
		select count(*) 
		from book_list
		<if test="keyword != null">
			where bookName like concat('%', #{keyword}, '%')
		</if>
	</select>
 	
 	<!-- 테이블 전체 삭제(테스트용) -->
 	<delete id="deleteAll">
 		delete from book_list
 	</delete>
 	
 	<!-- 테이블 전체 삭제 검증(테스트용) -->
 	<select id="getCount" resultType="int">
 		select count(*) 
 		from book_list
 	</select>
 	
 	<!-- 테이블 전체 삭제 검증(테스트용) -->
 	<select id="getLastPK" resultType="int">
 		select bookId 
 		from book_list
 		order by bookId desc 
 		limit 1
 	</select>
 	
</mapper>