<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.shop.mapper.MemberMapper">
 	<!-- 회원가입 -->
 	<insert id="memberJoin" parameterType="com.spring.shop.vo.MemberVO">
 		insert into book_member values(#{memberId}, #{memberPw}, #{memberName}, #{memberMail}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, 0, sysdate(), 100000, 5000 )
 	</insert> 
 	
 	<!-- 아이디 중복 체크 -->
 	<select id="idCheck" resultType="int">
 		select count(*) 
 		from book_member
 		where memberId = #{memberId}
 	</select>
 	
 	<!-- 로그인 -->
 	<select id="memberLogin" resultType="com.spring.shop.vo.MemberVO">
 		select memberId, memberPw, memberName, adminck, money, point 
 		from book_member 
 		where memberId = #{memberId}
 	</select>
 	
 	<!-- 테이블 전체 삭제(테스트용) -->
 	<delete id="deleteAll">
 		delete from book_member
 	</delete>
 	
 	<!-- 테이블 전체 삭제 검증(테스트용) -->
 	<select id="getCount" resultType="int">
 		select count(*) 
 		from book_member
 	</select>
 </mapper>