<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardMapper">

	<!-- 게시글 등록 -->
	<insert id="enroll">
		insert into Myboard2(title, content, writer) values (#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 게시글 목록 출력 -->
	<select id="getList" resultType="com.spring.board.vo.BoardVO">
		select * from Myboard2
		order by bno desc;
	</select>
	
	<!-- 게시글 수정 -->
	<update id="modify">
		update Myboard2 
		set title = #{title}, content = #{content}, updateDate = now()
		where bno = #{bno}
	</update>
	
	<!-- 게시글 상세 출력 -->
	<select id="getDetail" resultType="com.spring.board.vo.BoardVO" parameterType="com.spring.board.vo.BoardVO">
		select * from Myboard2
		where bno = #{bno}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from Myboard2 where bno = #{bno}
	</delete>
</mapper>