@charset "UTF-8";

*{
	margin: 0;
	padding:0;
}

/* 화면 전체 영역 */
.wrapper{
	width: 1900px;	
}

/* content 영역 */
.wrap{
	width : 800px;
	margin: auto;
}
/* 페이지 제목 영역 */
.title{
	width: 100%;
    height: 120px;
    background-color: #8EC0E4;
}

.title span{
	margin-left: 31px;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

/* 아이디 영역 */
.id_area{
	width: 100%;
    margin-top: 20px;
}
.id_title{
	font-size: 25px;
    font-weight: bold;
}
.id_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}
/*중복된 아이디가 존재하지 않을 경우*/
.id_input_msg1{
	color: green;
	display: none;
}
.id_input_msg2{
	color: red;
	display: none;
}


/* 비밀번호 영역 */
.pw_area{
	width: 100%;
    margin-top: 20px;
}
.pw_title{
	font-size: 25px;
    font-weight: bold;
}
.pw_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.pw_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

/* 비밀번호 확인 영역 */
.pw_check_area{
	width: 100%;
    margin-top: 20px;
}
.pw_check_title{
	font-size: 25px;
    font-weight: bold;
}
.pw_check_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.pw_check_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

/* 이름 영역 */
.user_area{
	width: 100%;
    margin-top: 20px;
}
.user_title{
	font-size: 25px;
    font-weight: bold;
}
.user_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.user_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

/* 이메일 영역 */
.mail_area{
	width: 100%;
    margin-top: 20px;
}
.mail_title{
	font-size: 25px;
    font-weight: bold;
}
.mail_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.mail_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

.mail_check_area{
	margin-top: 20px;	
}
.mail_check_input_box{
	border: 1px solid black;
    height: 31px;
    padding: 10px 14px;
    width: 61%;
    float: left;
}
.mail_check_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}
.mail_check_btn{
    border: 1px solid black;
    height: 51px;
    width: 30%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;
}

/* 주소 영역 */
.address_area{
	width: 100%;
    margin-top: 20px;
}
.address_title{
	font-size: 25px;
    font-weight: bold;
}
.address_input_box1{
	border: 1px solid black;
    height: 31px;
    padding: 10px 14px;
    width: 61%;
    float: left;	
}
.address_input1{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;	
}
.address_btn{
    border: 1px solid black;
    height: 51px;
    width: 30%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: #ececf7;
    cursor: pointer;	
}
.address_input_area2{
	margin-top: 20px;
}
.address_input_box2{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.address_input2{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

.address_input_area3{
	margin-top: 20px;
}
.address_input_box3{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.address_input3{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

/* 가입 버튼 영역 */
.join_btn_area{
	margin-top: 40px;
	text-align: center;
}
.join_btn{
	width: 100%;
    height: 80px;
    background-color: #6AAFE6;
    font-size: 40px;
    font-weight: 900;
    color: white;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}