<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<!-- Appenders --> 
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} [%p] %c - %m%n" />
		</Console>
	</Appenders>

	
	<!-- Application Loggers -->
	<Loggers>
		<Logger name="java.sql" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="DEBUG" additivity="false"> 
			<AppenderRef ref="console" /> 
		</Logger> 
		<Logger name="org.springframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console" /> 
		</Logger>
		 <Root level="info">
      		<AppenderRef ref="console"/>
    	</Root>
	</Loggers>

</Configuration>
