<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<!-- log4jdbc 옵션 설정 --> 
		<logger name="jdbc" level="OFF"/> 
		
		<!-- connection open close 로깅 여부 --> 
		<logger name="jdbc.connection" level="OFF"/> 
		
		<logger name="jdbc.sqlonly" level="OFF"/>
		<logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
			<appender-ref ref="STDOUT" />
		</logger> 
		<logger name="jdbc.audit" level="OFF">
			<appender-ref ref="STDOUT" />
		</logger>
		<logger name="jdbc.resultset" level="OFF"/> 
		  
		<logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
		  	<appender-ref ref="STDOUT" />
		</logger>  
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>